/node_modules/*

/target
/checkouts
/src/gen
.cpcache/
/build

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

/js/
/out/

.calva/output-window
.calva/repl.calva-repl
.lsp/.cache
.clj-kondo/.cache
.clj-kondo/imports/

/gadget-inspector/
/scrap/
/replicant-todomvc/
resources/public/js
/resources/public/tailwind.css
resources/public/portfolio-js
