{:deps {:aliases [:dev]}
 :dev-http {8082 ["resources/public" "classpath:public"]}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn qoback.closspad.dev/main}}
   :dev {:output-dir "resources/public/js"}}}}
