@font-face {
    font-family: 'JosefinSans';
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'YesevaOne';
    src: url(../fonts/YesevaOne-Regular.ttf) format('truetype');
}

* {
    font-family: JosefinSans;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: YesevaOne !important;
}


html, body {
  overflow-x: hidden;
}
* {
  outline: 1px solid red; /* debug */
}